<h2> User details</h2>
<p>
    <div> 
    <%="Name: "%>
    <%= @user.first_name%>
    <%= @user.last_name%>
    <br>
    <%= "Date of birth :"%>
    <%= @user.date_of_birth%><br>
    <%= "Mobile :" %>
    <%= @user.mobile%><br>
    <%= "Email :"%>
    <%= @user.email%><br>
    <%= "Is active? :"%>
    <%= @user.is_active%>
    </div>
    
</p>
<%= link_to "Edit", edit_user_path%>

<%= link_to "Destroy", user_path(@user), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>